@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Dosis Bold";
    src: url("/src/fonts/Dosis-Bold.ttf");
}

@font-face {
    font-family: "Dosis Regular";
    src: url("/src/fonts/Dosis-Regular.ttf");
}

@font-face {
    font-family: "Titillium Web";
    src: url(/src/fonts/TitilliumWeb-Regular.ttf);
}

body {
    background-image: url(../public/Meteor.svg);
    background-attachment: fixed;
}
